:root {
    --color-primario: #273fd9;
    /* Azul para elementos primarios */
    --color-secundario: #000000;
    /* Verde actualizado como color secundario */
    --color-fondo: #FFFFFF;
    /* Color de fondo para el contenido principal */
    --color-texto-primario: #212121;
    /* Color principal del texto */
    --color-texto-secundario: #757575;
    /* Color secundario del texto */
    --color-borde: #333333;
    /* Color para bordes y divisiones */
    --color-menu-fondo: #333333;
    /* Fondo oscuro para el menú */
    --color-menu-hover: #5267eb;
    /* Color de fondo para hover en el menú */
    --color-texto-menu: #FFFFFF;
    /* Color del texto del menú */
    --sombra: 0 4px 6px rgba(0, 0, 0, 0.6);
    --gradiente-hero: linear-gradient(to right, #0e2be3, #28be3f);
    /* Gradiente desde azul a verde */
    --color-fondo-beneficios: #f9f9f9;
    /* Fondo más suave para la sección de beneficios */
    --padding-seccion: 50px;
    /* Espaciado uniforme para todas las secciones */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--gradiente-hero);
    /* Usando gradiente */

}

* {

    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    text-align: center;
    color: var(--color-texto-menu);
    margin-top: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    display: none;
    justify-content: center;
    background-color: var(--color-menu-fondo);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
}


.menu.active {
    display: flex;

}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-menu-fondo);
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    width: 100%;
}


.menu-btn:before {
    content: "\2630";
    font-size: 1.5rem;
}


.menu a {
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    background-color: var(--color-menu-hover);
}


.tab-container {
    width: 70%;
    height: 600px;
    margin: 50px auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    overflow: hidden;
}

.options {
    display: flex;
    width: 100%;
    height: 15%;
    list-style: none;
    background: var(--bg-active);
}

.option {
    flex-grow: 1;
    text-align: center;
    line-height: 60px;
    border: solid 1px rgba(4, 51, 78, .6);
    color: #FFFFFF;
    cursor: pointer;

}

.option-active {
    background: var(--bg-cont);
    border-bottom: 1px solid rgba(7, 63, 95, .4);
}

.contents {
    width: 100%;
    height: 85%;
}

.content {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: none;
    padding: 20px;
}

.content-active {
    background: var(--bg-active);
    display: block;
}

.content h3 {
    text-align: center;
    border-bottom: solid 1px rgba(225, 225, 225, .3);
    letter-spacing: 2px;
    margin: 10px;

}

.content p {
    margin: 15px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.contentimg {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgcompo {
    width: 85%;
    height: 15rem
}

.central-title {
    text-align: center;
    margin-bottom: 20px;
}

.advantages-content,
.disadvantages-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.text-content,
.disadvantages-content {
    flex: 1;
}

.content-img {
    margin-left: 20px;
    flex-shrink: 0;
}

.img-component {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.accordion-content {
    display: block;
}


@media (max-width: 426px) {
    .mb-5 {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;

        }

        p {
            font-size: 1rem;

        }

    }

    .menu-btn {
        display: block;
        background: var(--color-menu-fondo);
    }
    
    
    *{
     
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    h1{
        text-align: center;
        color: var(--color-texto-menu);
        padding: 10px;
        text-align: center;
        border: none;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
    }


    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu li {
        width: 100%;
    }

    .menu a {
        display: block;
        text-align: center;
        padding: 10px;
        width: 100%;
        color: #FFFFFF;

    }

    .menu a:hover {
        background-color: var(--color-menu-hover);
    }

    .menu-btn:hover {
        background-color: var(--color-menu-hover);
    }

    .tab-container {
        display: none;
    }

    

   
}



@media (min-width: 760px) {
    .accordion{
        display: none;
    }

    .tab-container {
        width: 90%;
        overflow: auto;
    }

    .menu {
        display: flex;
        /* Muestra el menú horizontal */
        justify-content: center;
        /* Centra el menú horizontalmente */
        align-items: center;
        /* Alinea los ítems verticalmente */
        width: 100%;
        /* Resto de tus estilos para el menú horizontal */
    }

    .menu a {
        text-decoration: none;
        color: var(--color-texto-menu);
        padding: 10px 15px;
        /* Resto de tus estilos para los enlaces dentro del menú */
    }

    .menu li {
        margin: 0 10px;
        /* Resto de tus estilos para los ítems de lista dentro del menú */
    }

    .menu-btn {
        display: none;
        /* Asegura que el botón de menú tipo hamburguesa sigue escondido */
    }

}

@media (max-width: 426px) {
    .accordion-content {
      display: none; /* Oculta el contenido por defecto */
      padding: 15px;
    
    }
  
    .accordion-toggle {
      width: 100%;
      text-align: left;
     color: var(--color-texto-menu);
      border: none;
      outline: none;
      padding: 15px;
      font-size: 16px;
      cursor: pointer;
      background-color: var(--gradiente-hero);
      border: solid 0.5px rgba(4, 51, 78, .6);

    }
  
    .accordion-toggle:after {
      content: '\002B';
      float: right;
    }
  
    .accordion-toggle.active:after {
      content: "\2212"; /* Unicode character for "minus" sign */
    }

    .accordion{
        box-shadow: 3px 5px 10px rgba(0, 0, 0, .8);
    }

    .content p{
        text-align: left;
    }
}

  